@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;0,800;1,700&family=Rubik+Burned&display=swap');

* {
  font-family: 'Poppins', sans-serif;
 }
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.grid-container {
  display: grid;
  width: 500px;
  height: 500px;
}

.cell {
  border: 1px rgba(0, 0, 0, 0.041) solid;
}

.title {
  display: flex;
  justify-content: center;
  color: gold;
  font-weight: 800;
}

.wrapper {
  display: flex;
  width: 100%;
  height: 100vh;
  align-self: center;
  align-items: center;
  justify-content: space-evenly;
}

.slideContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.userControls {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: space-around;
}

.gridWrapper {
  border: black solid 2px;
  border-radius: 3px;
}
