body {
  margin: 0;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.grid-container {
  display: grid;
  width: 500px;
  height: 500px;
}

.cell {
  border: 1px rgba(0, 0, 0, 0.041) solid;
}

.title {
  display: flex;
  justify-content: center;
  color: gold;
}

.wrapper {
  display: flex;
  width: 100%;
  align-self: center;
  align-items: center;
  justify-content: space-evenly;
}

.slideContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.userControls {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.gridWrapper {
  border: black solid 2px;
  border-radius: 3px;
}
